
<div class="wrapper">
    <div id="formContent">
      <form [formGroup]="loginForm">
        <input
        type="text"
        class="form-control"
        name="login"
        formControlName="userName"
        (input)="userName=$event.target.value"
        placeholder="login">
        <br>
        <input
        type="password"
        id="password" 
        class="form-control"
        name="login"
        formControlName="userPassword"
        (input)="userPassword=$event.target.value"
        placeholder="password">
        <br>
        <!-- <input type="submit" class="fourth" value="Log In"> -->
        <button type="submit" class="btn btn-success" (click)="userDetailsSubmit()">submit</button>
      </form>
    </div>
  </div>